VITE_API_URL=https://mnly95hx5m.execute-api.us-east-1.amazonaws.com/dev
VITE_COGNITO_USER_POOL_ID=us-east-1_uS5wI2MmB
VITE_COGNITO_CLIENT_ID=7oiovcb2gqa85l5fukkh042knu
VITE_COGNITO_DOMAIN=https://bpm-monitoring-dev-90qdlb25.auth.us-east-1.amazoncognito.com
VITE_AWS_REGION=us-east-1